body {
    margin: 0 auto;
    font-family: sans-serif;
    background-image: url(night-mountain-landscape-starry-sky.jpg);

     height: 66vh; 

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

section {
    perspective: 1000px;
    /* gives the 3D effect */
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    width: 360px;
    height: 410px;
    position: relative;
    transform-style: preserve-3d;
    transition-property: all;
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    border-radius: 15px;
}

.card:hover {
    transform: rotateY(-180deg);
    box-shadow: 0px 0px 420px white;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: whitesmoke;
}

.front {
    background-color: rgba(17, 3, 82, 0);
}

.front>img {
    width: 100px;
    border-radius: 50%;
    padding-bottom: 20px;
}

.front span:first-of-type {
    font-size: 14px;
    font-weight: 500;
}

.front span:last-of-type {
    font-size: 12px;
    font-weight: 700;
    vertical-align: middle;
}

.back {
    background-color: #1111113a;
    transform: rotateY(180deg);
}

.back img {
    width: 60px;
    margin-bottom: 10px;
}

.back h3 {
    color: aqua;
    font-weight: 500;
}