body {
  background: #1f2635;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.card-grid {
  display: flex;
  gap: 30px;

  &:hover {
    .card:not(:hover) {
      .card-bg {
        filter: brightness(0.4) saturate(0.2) contrast(1.3) blur(6px);
      }
    }
  }
}

.card {
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;

  &-bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    transition: .4s;
  }

  &-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 2;
  }

  &:hover {
    .card-bg {
      transform: scale(1.12);
      filter: brightness(1) saturate(1.4) contrast(1);
    }
  }

  &:nth-child(1) {
    .card-bg { background: #f4a261; }
  }

  &:nth-child(2) {
    .card-bg { background: #2a9d8f; }
  }

  &:nth-child(3) {
    .card-bg { background: #264653; }
  }
}